/* https://fonts.googleapis.com/css?family=Pacifico */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/Pacifico.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	font-family: sans-serif;
	padding: 5px;
	margin: 0;
	background-image: url('../img/whitenoise.png');
	background-repeat: repeat;
}

input, textarea {
	width: 100%;
}

#input-form {
	padding: 20px;
}

#input-form table {
	margin: 0 auto;
}

#input-form th {
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 10px;
}
#input-form td {
	text-align: left;
	padding-bottom: 10px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}

#footer {
	margin-top: 40px;
	font-size: 0.8em;
	border-top: 1px #ddd solid;
	padding: 10px;
}

#output {
	margin: 10px 0;
}

.hidden {
	display: none;
}

#error {
	border: 2px solid #8c4d4d;
	background-color: #fff1f1;
	min-height: 50px;
	border-radius: 2px;
	padding: 20px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
}

.title {
	font-family: 'Pacifico', cursive;
	margin: 10px 0;
	padding-bottom: 20px;
	border-bottom: 1px #ddd solid;
}

.logo {
	font-size: 2em;
	margin: 0 10px;
}
.subtitle {
	font-size: 1.2em;
	color: blue;
	margin: 0 10px;
}

#connect-button {
	width: 200px;
	height: 50px;
	margin: 20px 10px;
}

#github-logo {
	font-size: 2em;
	color: #555;
}

#channels ul {
	padding: 0;
}

.channel {
	padding: 10px;
	border: 1px solid #bbb;
	border-radius: 5px;
	max-width: 400px;
	cursor: pointer;
	list-style-type: none;
	margin: 5px auto;
	background-color: #fff;
}

#microphone-meter {
	margin: 20px 0;
}


#microphone {
	font-size: 2em;
	cursor: pointer;
	color: #555;
}

@keyframes colorPulse {
	0% {
		color: #660000;
	}
	50% {
		color: #ff0000;
	}
	100% {
		color: #660000;
	}
}

#microphone.on {
	color: red;
	animation-name: colorPulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#reload {
	font-size: 1em;
	width: 200px;
	height: 50px;
}

#reload .symbol {
	margin: 0 5px;
	font-size: 1.2em;
}

/* Button */

/* This button was generated using CSSButtonGenerator.com */
.button {
	margin: 10px;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #f9f9f9;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	color: #666666;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}
.button:hover {
	background-color:#e9e9e9;
	cursor: pointer;
}
.button:active {
	position:relative;
	top:1px;
}


/* CSS Spinner
 * http://tobiasahlin.com/spinkit/
 */

#spinner {
	margin: 20px;
}

.sk-fading-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
