body {
	line-height: 1;
	font-family: sans-serif;
}

input, textarea {
	width: 100%;
}

#input-form {
	padding: 20px;
	border: 1px #bbb solid;
	border-radius: 5px;
}

#input-form table {
	margin: 0 auto;
}

#input-form th {
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 10px;
}
#input-form td {
	text-align: left;
	padding-bottom: 10px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#footer {
	margin-top: 40px;
	font-size: 0.8em;
	border-top: 1px #ddd solid;
	padding: 10px;
}

#connect-button {
	width: 200px;
	height: 50px;
	margin: 20px 10px;
}
#url {
	height: 50px;
}

#output {
	margin: 10px 0;
	display: none;
}

#advanced-toggle {
	color: #999;
	font-size: 0.8em;
	text-align: center;
	cursor: pointer;
}
.hidden {
	display: none;
}

#advanced-form,
#messages, #status {
	border: 1px #bbb dotted;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
}

#messages, #status {
	max-height: 150px;
	overflow: auto;
	margin: 10px 0 20px 0;
}

.message {
	border-bottom: 1px #eee solid;
	padding: 5px 0;
}

#messages .sender, #messages .time {
	padding-right: 10px;
	width: 200px;
}
